$font-body-stack: "Titillium", arial, sans-serif;
$font-header-stack: "Cinzel", serif;

$text-color: #fff;
$grey: #94a4a4;
$darkGrey: #333333;
$navColor: #fff;

html, body{
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

.navigation{
    position:fixed;     
    z-index:4;      
    margin: 10px 0 0 10px;;
    width: 100%;
    padding: 0;
}

.swlogo {
    float:right;
    margin-right:20px;
}

h2 {
font-family: $font-header-stack;
font-weight: normal;
font-size: 40px;
text-align: center;
color: $text-color;
margin: 0;
padding: 100px;
text-shadow: 2px 2px #000;
}


h3 {
font: $font-header-stack;
font-weight: normal;
font-size:18px;
font-style: italic;
text-align: left;
margin: 5px 0;
padding: 0;
position: relative;
width:20%;
}


.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
}

#slide1{
    background-image:url("../images/episode1.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#5c9900;
}
#slide2{
    background-image:url(../images/episode2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#588990;
}
#slide3{
    background-image:url(../images/episode3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#slide4{
    background-image:url(../images/episode4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#slide5{
    background-image:url(../images/episode5.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#slide6{
    background-image:url(../images/episode6.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#slide7{
    background-image:url(../images/episode7.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper {
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;
}

.button{
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    bottom:0px;
    left:50%;
    background-color:#333333;
    background-image:url(../images/arrow.png);
    background-repeat:no-repeat;
}

.button:hover{
    background-color:#494949;
    cursor:pointer;
}

.padding-top--md {padding-top:20px;}

.parallaxbg{
    position:absolute;
    font-size:28px;
    margin:0;
    padding:0;
}

.slideno {
    position:absolute;
    bottom:40px;
    left:0px;
    width:30%;
    margin-left:30px;
    line-height:1.5em;
    color:rgba(255,255,255,0.9);
}