$font-body-stack: "Titillium", arial, sans-serif;
$font-header-stack: "Cinzel", serif;

$text-color: #fff;
$grey: #94a4a4;
$darkGrey: #333333;

body{
margin: 0;
padding: 0;
/*background-color: $darkGrey;*/
font-family: $font-body-stack;
line-height:1.5em;
color:$grey;
height: 100%;
width: 100%;
}

h2 {
font-family: $font-header-stack;
font-weight: normal;
font-size: 40px;
text-align: center;
color: $text-color;
margin: 0;
padding: 0;
line-height:1.4em;
}

h3 {
font: $font-header-stack;
font-weight: normal;
font-size:18px;
font-style: italic;
text-align: left;
margin: 5px 0;
padding: 0;
position: relative;
}

#box{
    height: 100%;
    width: 100%;

}

/*.bg1 {background-image: url(images/episode1.jpg); background-size: contain; background-repeat: no-repeat; background-position: center center;}
.bg2 {background-image: url(images/episode2.jpg) no-repeat center center fixed; background-size:cover;}
.bg3 {background-image: url(images/episode3.jpg) no-repeat center center fixed; background-size:cover;}
.bg4 {background-image: url(images/episode4.jpg) no-repeat center center fixed; background-size:cover;}
.bg5 {background-image: url(images/episode5.jpg) no-repeat center center fixed; background-size:cover;}
.bg6 {background-image: url(images/episode6.jpg) no-repeat center center fixed; background-size:cover;}
.bg7 {background-image: url(images/episode7.jpg) no-repeat center center fixed; background-size:cover;}*/


#test {
    width: 100%;
    height: auto;
    background-image: url('images/episode1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    z-index:-1;
    position:fixed;
}

/*#test2 {
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position:fixed;
}*/

.wrapper {
  position: relative;
  width: 75%;
  min-height: 400px;
  margin: 100px auto;
  color: $grey;
}

.padding-top--md {padding-top:20px;}